<div class="block-component-{{ component.name }}-container">
    <div class="block-component-{{ component.name }}-content">
        {% block component_content %}{% endblock component_content %}
    </div>
</div>