:root {
  --color-white: #FFFFFF;
  --color-grey-light : #ecf0f1;
  --color-black : #0F1533;
  --box-shadow-opacity-00 : #28378000;
  --box-shadow-opacity--10: #28378026;
  --box-shadow-opacity-15 : #2837804D;

  --color-grey-blue-lighter: #F0F5FA;
  --color-grey-blue-light: #E6EDF5;
  --color-dark-grey-blue: #CFD9E6;


  --dark-blue1 : #0F1533;
  --dark-blue2 : #283780;
  --light-blue1 : #008fce;
  --light-blue2 : #00A2EA;
  --light-blue: #D5EFFA;
  --blue-lighter1 : #D5EFF1;
  --blue-lighter2 : #E6EDF5;
  --blue-lighter3-card:#f0f5fa;

  --light-purple: #DDE2FC;
  --dark-purple1 : #283780;
  --dark-purple2 : #4B5DB4;

  --green1 : #50C19D;
  --green2 : #49D3A7;
  --green-light1: #DCF7EF;


  --gradient-blue-purple :linear-gradient(#008fce, #283780);
}