{% set component = (component|default({}))|merge({
    name : "button-play-text",
}) %}
{% extends "components/base/component.html.twig" %}
{% block component_content %}
    <button class="button-play">
        <span class="picto-btn-play basic-pictoplay"></span>
        <span class="value-btn-play">Regarder la vidéo</span>
    </button>
{% endblock component_content %}