
                <div data-carrousel class="relative-position">
                    <div class="swiper swiper-block-content margin-top-content-5">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper swiper-content-flex">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="card-full-image-content">
                                    <div class="image-zoom">
                                        <img class="card-full-image-size" src="images/visuel-genevieve-hery-arnaud.jpeg"
                                             alt="photographie du Professeure Genevieve Hery-Arnaud ">
                                    </div>
                                    <div class="card-full-image-content-text">
                                        <h3 class="card-full-image-content-title">Pr Geneviève Héry-Arnaud</h3>
                                        <p class="card-full-image-content-text-text">PharmD, PhD. Microbiologiste,
                                            INSERM UMR 1078,
                                            Université de Brest, CHRU Brest</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="card-full-image-content">
                                    <div class="image-zoom">
                                        <img class="card-full-image-size" src="images/visuel-genevieve-hery-arnaud.jpeg"
                                             alt="photographie du Professeure Genevieve Hery-Arnaud ">
                                    </div>
                                    <div class="card-full-image-content-text">
                                        <h3 class="card-full-image-content-title">Pr Geneviève Héry-Arnaud</h3>
                                        <p class="card-full-image-content-text-text">PharmD, PhD. Microbiologiste,
                                            INSERM UMR 1078,
                                            Université de Brest, CHRU Brest</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="card-full-image-content">
                                    <div class="image-zoom">
                                        <img class="card-full-image-size" src="images/visuel-genevieve-hery-arnaud.jpeg"
                                             alt="photographie du Professeure Genevieve Hery-Arnaud ">
                                    </div>
                                    <div class="card-full-image-content-text">
                                        <h3 class="card-full-image-content-title">Pr Geneviève Héry-Arnaud</h3>
                                        <p class="card-full-image-content-text-text">PharmD, PhD. Microbiologiste,
                                            INSERM UMR 1078,
                                            Université de Brest, CHRU Brest</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="card-full-image-content">
                                    <div class="image-zoom">
                                        <img class="card-full-image-size" src="images/visuel-genevieve-hery-arnaud.jpeg"
                                             alt="photographie du Professeure Genevieve Hery-Arnaud ">
                                    </div>
                                    <div class="card-full-image-content-text">
                                        <h3 class="card-full-image-content-title">Pr Geneviève Héry-Arnaud</h3>
                                        <p class="card-full-image-content-text-text">PharmD, PhD. Microbiologiste,
                                            INSERM UMR 1078,
                                            Université de Brest, CHRU Brest</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slides -->
                            <div class="swiper-slide swiper-slide-active">
                                <div class="card-full-image-content slide-active">
                                    <div class="image-zoom">
                                        <img class="card-full-image-size" src="images/visuel-genevieve-hery-arnaud.jpeg"
                                             alt="photographie du Professeure Genevieve Hery-Arnaud ">
                                    </div>
                                    <div class="card-full-image-content-text">
                                        <h3 class="card-full-image-content-title">Pr Geneviève Héry-Arnaud</h3>
                                        <p class="card-full-image-content-text-text">PharmD, PhD. Microbiologiste,
                                            INSERM UMR 1078,
                                            Université de Brest, CHRU Brest</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="card-full-image-content slide-active">
                                    <div class="image-zoom">
                                        <img class="card-full-image-size" src="images/visuel-genevieve-hery-arnaud.jpeg"
                                             alt="photographie du Professeure Genevieve Hery-Arnaud ">
                                    </div>
                                    <div class="card-full-image-content-text">
                                        <h3 class="card-full-image-content-title">Pr Geneviève Héry-Arnaud</h3>
                                        <p class="card-full-image-content-text-text">PharmD, PhD. Microbiologiste,
                                            INSERM UMR 1078,
                                            Université de Brest, CHRU Brest</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slides -->
                            <div class="swiper-slide ">
                                <div class="card-full-image-content slide-active">
                                    <div class="image-zoom">
                                        <img class="card-full-image-size" src="images/visuel-genevieve-hery-arnaud.jpeg"
                                             alt="photographie du Professeure Genevieve Hery-Arnaud ">
                                    </div>
                                    <div class="card-full-image-content-text">
                                        <h3 class="card-full-image-content-title">Pr Geneviève Héry-Arnaud</h3>
                                        <p class="card-full-image-content-text-text">PharmD, PhD. Microbiologiste,
                                            INSERM UMR 1078,
                                            Université de Brest, CHRU Brest</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="card-full-image-content">
                                    <div class="image-zoom">
                                        <img class="card-full-image-size" src="images/visuel-genevieve-hery-arnaud.jpeg"
                                             alt="photographie du Professeure Genevieve Hery-Arnaud ">
                                    </div>
                                    <div class="card-full-image-content-text">
                                        <h3 class="card-full-image-content-title">Pr Geneviève Héry-Arnaud</h3>
                                        <p class="card-full-image-content-text-text">PharmD, PhD. Microbiologiste,
                                            INSERM UMR 1078,
                                            Université de Brest, CHRU Brest</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="card-full-image-content">
                                    <div class="image-zoom">
                                        <img class="card-full-image-size" src="images/visuel-genevieve-hery-arnaud.jpeg"
                                             alt="photographie du Professeure Genevieve Hery-Arnaud ">
                                    </div>
                                    <div class="card-full-image-content-text">
                                        <h3 class="card-full-image-content-title">Pr Geneviève Héry-Arnaud</h3>
                                        <p class="card-full-image-content-text-text">PharmD, PhD. Microbiologiste,
                                            INSERM UMR 1078,
                                            Université de Brest, CHRU Brest</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="card-full-image-content">
                                    <div class="image-zoom">
                                        <img class="card-full-image-size" src="images/visuel-genevieve-hery-arnaud.jpeg"
                                             alt="photographie du Professeure Genevieve Hery-Arnaud ">
                                    </div>
                                    <div class="card-full-image-content-text">
                                        <h3 class="card-full-image-content-title">Pr Geneviève Héry-Arnaud</h3>
                                        <p class="card-full-image-content-text-text">PharmD, PhD. Microbiologiste,
                                            INSERM UMR 1078,
                                            Université de Brest, CHRU Brest</p>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                    <div class="position-button-absolute-left button-swiper-slide-next">
                        {% include "components/button-carrouss-next-return.html.twig" with {component:{transitionRotate:"rotate-picto"}}%}

                    </div>
                    <div class="position-button-absolute-right button-swiper-slide-prev">
                        {% include "components/button-carrouss-next-return.html.twig"%}
                    </div>
                        </div>
                    </div>
                </div>
