<footer id="footer-master" class="footer-master footer footer-content-style margin-top-content-15">
    <div class="container-width container-margin-auto container-padding">
        <div class="grid margin-top-footer">
            <div class="row">
                <div class="col--md-5 col--xs-12 content-top">
                    <div class="content-logo">
                        <img class="logo-footer" src="/images/logo.svg" alt="La Revue des Microbiotes">
                    </div>
                    <div class="content-text">
                        La Revue des Microbiotes est le premier journal français consacré aux microbiotes et à leurs
                        répercussions en santé humaine. Elle présente les dernières actualités dans la recherche sur
                        les microbiotes, analysées et commentées par notre comité rédactionnel pluridisciplinaire.
                    </div>
                </div>
                <div class="col--md-offset-2 col--md-5 col--xs-12">
                    <div class="content-pileje-flex content-pileje">
                        <span class="content-pileje-title">Avec le soutien institutionnel de PiLeJe Laboratoire</span>
                        <a href="https://www.pileje.fr" target="_blank">
                            <img src="//uploads.larevuedesmicrobiotes.fr/thumbnail/QXVzdHJhbE1hbmFnZXJCdW5kbGU6Q29uZmlnVHJhbnNsYXRl/3/image/i/170x67/pileje-logo.png"
                                 alt="Logo entreprise Pileje">
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-width container-margin-auto container-padding">
                <div class="row">
                    <div class="col--md-4 col--xs-12 margin-legal-mention">
                        <p class="copyright">© Copyright 2023 - La Revue des Microbiotes</p>
                    </div>
                    <div class="col--md-8 col--xs-12 margin-legal-mention">
                        <ul class="links-footer">
                            <li class="link-puce-footer"><a class="link-footer" href="/legal">Mentions légales</a></li>
                            <li class="link-puce-footer"><a class="link-footer" href="/donnees-personnelles">Données
                                    personnelles</a></li>
                            <li class="link-puce-footer">
                                <a class="link-footer" href="javascript:Didomi.preferences.show()">Préférences des
                                    cookies</a>
                            </li>
                            <li class="link-puce-footer"><a class="link-footer" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
