<header id="header-master" class="header header-master">
    <nav class="layout-nav">
        <h1 class="logo">
            <a href="#search" class="menu-items-mobile">
                <span class="basic-pictosearch value-search"></span>
            </a>
            <img src="/images/logo.svg" alt="Logo de la revue">
            <a href="#search" class="menu-items-mobile-burger">
                <span class="basic-pictoalign-justify value-search"></span>
            </a>
            <ul class="lang-logo-ul">
                <li class="lang-li"><span>FR</span></li>
                <li class="lang-li"><span>EN</span></li>
            </ul>
        </h1>
        <menu class="menu">
            <li class="animation-js-nav-bckg"></li>
            <li class="menu-li">
                <a href="/" class="menu-items"><span class="menu-button">Accueil</span></a>
            </li>
            <li class="menu-li">
                <a href="/numbers" class="menu-items"><span class="menu-button">Les numéros</span></a>
            </li>
            <li class="menu-li">
                <a href="/committee" class="menu-items"><span class="menu-button">Le comité scientifique</span></a>
            </li>
            <li class="menu-li">
                <a href="#search" class="menu-items">
                    <span class="basic-pictosearch value-search"></span>
                    <span class="menu-button">Rechercher</span>
                </a>
            </li>
            <li class="menu-li">
                <a href="#contact" class="menu-items"><span class="menu-button">Contact</span></a>
            </li>
        </menu>
        <button class="button-nav-access">
            <span class="margin-right-mobile">Accès gratuit</span>
            <span class="info-pdf">PDF</span>
        </button>
    </nav>
</header>
